<h1> Kittens <h1>

<% @kittens.each do |k| %>
  <p><%= "Kitten Name: #{k.name}" %></p>
  <p><%= "Kitten Age: #{k.age}" %></p>
  <p><%= "Kitten Cuteness: #{k.cuteness}" %></p>
  <p><%= "Kitten Softness: #{k.softness}" %></p>
  <%= link_to "Delete", k, method: :delete, data: { confirm: "Are You Sure?" }%>  
<%end%>
