<p><%= "Kitten Name: #{@kitten.name}" %></p>
<p><%= "Kitten Age: #{@kitten.age}" %></p>
<p><%= "Kitten Cuteness: #{@kitten.cuteness}" %></p>
<p><%= "Kitten Softness: #{@kitten.softness}" %></p>

<%= link_to 'Edit', edit_kitten_path(@kitten) %> |
<%= link_to 'Back', kittens_path %>